---
import type { ArticleProps } from "../utils/types";


const props = Astro.props as {
	article: ArticleProps;
	cardColor: string;
	textColor: string;
};
const { article, cardColor, textColor } = props;
---

<div 
	class="article-card" 
	style={`background-color: ${cardColor};`}
	data-slug={article.frontmatter.slug}
>
	<div class="px-4 py-2 flex-grow">
		<div class="font-bold text-xl" style={`color: ${textColor}`}>
			{article.frontmatter.title}
		</div>
		<p style={`color: ${textColor}`}>
			{article.frontmatter.excerpt}
		</p>
	</div>
</div>

<style>
	.article-card {
		width: 24vw;
		height: 16vw;

		min-width: 200px;
		min-height: 140px;

		overflow: hidden;
		border-radius: 15px;

		display: flex;
		flex-direction: column;
		justify-content: flex-start;

		box-shadow: 3px 5px 10px 0 rgba(0, 0, 0, 0.3);
		cursor: pointer;
	}
</style>

<script>
	document.addEventListener("DOMContentLoaded", () => {
		const articleCards = document.querySelectorAll<HTMLElement>(".article-card");
		articleCards.forEach((card) => {
			const slug = card.getAttribute('data-slug');
			card.addEventListener('click', () => {
				window.location.href = `/cancer-neo/articles/${slug}`;
			})
		})
	});
</script>